/* Header CSS Layout */

.header-nav {
    position: fixed;
    height: 88px;
    width: 100%;
    padding: 88px 80px; 
    background-color: var(--white-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#BackGPT-Logo {
    width: 272px;
    height: auto;
}


.nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: auto;
    gap: 24px;
    text-decoration: none;
    list-style: none;
}


.nav-links a {
    height: 88px;
    width: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 100%;
    position: relative;
}


/* Header CSS Styling */

.nav-links a {
    text-decoration: none;
    list-style-type: none;
     /* Headings/H3 */
     font-family: Roboto;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 150%; /* 30px */
    color: var(--very-dark-black100);
}

.nav-links a:hover {
    background: linear-gradient(to right, var(--brand-gradient100-start), var(--brand-gradient100-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the gradient */
    transition: background 0.3s ease; /* Smooth transition for the gradient effect */
}
