/* Header container */

.header-nav {
    position: fixed;
    height: 88px;
    width: 100%;
    padding: 88px 80px; 
    background-color: var(--white-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#BackGPT-Logo {
    width: 272px;
    height: auto;
}

.nav-links {
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 24px;
    text-decoration: none;
    list-style-type: none;
  
}

.nav-links a {
    height: 88px;
    width: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
    list-style-type: none;
    
     /* Headings/H3 */
     font-family: Roboto;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 150%; /* 30px */

        color: var(--very-dark-black100);
}





