/* Header CSS Layout */

.header-nav {
    position: fixed; /* Fixed position when scrolling */
    height: 88px;
    width: 100%;
    padding: 88px 80px; 
    background-color: var(--white-background);
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Space between the logo and the nav links on main axis */
    align-items: center; /* Center the items on the cross axis */
}


#BackGPT-Logo {
    width: 272px;
    height: auto;
}


.nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: auto;
    gap: 24px;
    text-decoration: none;
    list-style: none;
}


.nav-links a {
    height: 88px;
    width: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 100%;
    position: relative; /* Required for pseudo-elements */
}


/* Header CSS Styling */

.nav-links a {
    text-decoration: none;
    list-style-type: none;
     /* Headings/H3 */
     font-family: Roboto;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 150%; /* 30px */
    color: var(--very-dark-black100);
    transition: background 0.3s ease; /* Smooth transition for the gradient effect */
}

.nav-links a:hover {
    background: linear-gradient(to right, var(--brand-gradient100-start), var(--brand-gradient100-end)); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the shape of the text (safari and chrome only) */
    background-clip: text; /* Clip the background to the shape of the text */
    color: transparent; /* This makes the text take the color of the gradient */
}

/* Active state with gradient text and bottom border */
.nav-links a:active {
    color: transparent; /* Ensures text gradient visibility */
    background: linear-gradient(to right, var(--brand-gradient100-start), var(--brand-gradient100-end));
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-links a:active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, var(--brand-gradient16-start), var(--brand-gradient16-end));
    z-index: -1; /* Ensure it's behind the text */
}

.nav-links a:active::after {
    content: '';
    position: absolute;
    bottom: -4px; /* Position the border */
    left: 0;
    width: 100%;
    height: 4px; /* Height of the border */
    background: linear-gradient(to right, var(--brand-gradient100-start), var(--brand-gradient100-end));
    z-index: 1; /* Ensures it's above the ::before pseudo-element but below the text */
}





