/* HTML5 Doctor Reset Stylesheet */

    /*Reset Stylesheet: This is like setting up your canvas in Figma. You're removing any default styling that 
    browsers apply, so you have a clean and consistent starting point. Just like in Figma, where you have control 
    over every aspect of your design, the reset stylesheet gives you control over the browser's default styles.

/* This reset stylesheet aims to reduce browser inconsistencies in things like default line heights, margins, 
   and font sizes of headings, and so on. The general reasoning behind this was to strip out user agent styles 
   before applying your own styles. */

/* Global Reset Styles */
/* The following rules apply a basic reset to commonly used HTML elements. 
   They remove margins, paddings, borders, and outlines, set font-size to 100% (default size), 
   align text and other inline elements to the baseline, and make backgrounds transparent. 
   This creates a consistent baseline across all browsers. */
   html, body, div, span, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   abbr, address, cite, code,
   del, dfn, em, img, ins, kbd, q, samp,
   small, strong, sub, sup, var,
   b, i,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section, summary,
   time, mark, audio, video {
       margin:0;
       padding:0;
       border:0;
       outline:0;
       font-size:100%;
       vertical-align:baseline;
       background:transparent;
   }
   
   /* Body Line Height */
   /* Sets a default line-height for the body element. 
      This value may need adjustment based on your design's typography. */
   body {
       line-height:1;
   }
   
   /* Block Element Formatting */
   /* Ensures newer HTML5 block-level elements are displayed as blocks, 
      providing a correct box model for these elements in older browsers. */
   article,aside,details,figcaption,figure,
   footer,header,hgroup,menu,nav,section {
       display:block;
   }
   
   /* Navigation List Styling */
   /* Removes list styling from unordered lists in navigation, 
      a common practice for horizontal navigation menus. */
   nav ul {
       list-style:none;
   }
   
   /* Blockquote and Quote Styling */
   /* Removes default browser quotation styling for blockquotes and inline quotes. */
   blockquote, q {
       quotes:none;
   }
   
   blockquote:before, blockquote:after,
   q:before, q:after {
       content:'';
       content:none;
   }
   
   /* Anchor Tag Reset */
   /* Removes margins, padding, and background from anchor tags, 
      and resets font size and vertical alignment. 
      Additional styling required to suit your design. */
   a {
       margin:0;
       padding:0;
       font-size:100%;
       vertical-align:baseline;
       background:transparent;
   }
   
   /* Inserted Text Styling */
   /* Sets a default style for inserted text. You can change the colors to match your design. */
   ins {
       background-color:#ff9;
       color:#000;
       text-decoration:none;
   }
   
   /* Marked Text Styling */
   /* Sets default styling for marked/highlighted text. 
      Change the colors to match your design needs. */
   mark {
       background-color:#ff9;
       color:#000;
       font-style:italic;
       font-weight:bold;
   }
   
   /* Deleted Text Styling */
   /* Applies a line-through style for deleted text elements. */
   del {
       text-decoration: line-through;
   }
   
   /* Abbreviations and Definitions */
   /* Styles for abbreviations and definitions, usually shown with a dotted underline. */
   abbr[title], dfn[title] {
       border-bottom:1px dotted;
       cursor:help;
   }
   
   /* Table Styling */
   /* Collapses border spacing in tables and removes default spacing. */
   table {
       border-collapse:collapse;
       border-spacing:0;
   }
   
   /* Horizontal Rule Styling */
   /* Sets a default style for horizontal rules (lines). 
      Change the border color to match your design needs. */
   hr {
       display:block;
       height:1px;
       border:0;  
       border-top:1px solid #cccccc;
       margin:1em 0;
       padding:0;
   }
   
   /* Form Element Alignment */
   /* Vertically aligns input fields and select boxes for better form layout. */
   input, select {
       vertical-align:middle;
   }
   






   /* My Figma Design System to CSS */
:root {
/* colour variables */
--black-background: rgba(33, 33, 33, 1); /* Brand Colour Softer WCAG black */
--white-background: rgba(254, 254, 254, 1); /* Brand Colour Softer WCAG white */  
--brand-gradient100-start: rgb(67, 116, 237); /* Brand Colour Gradient */
--brand-gradient100-end: rgb(187, 55, 189);

--brand-gradient75-start: rgba(67, 116, 237, 0.75);
--brand-gradient75-end: rgba(187, 55, 189, 0.75);
--brand-gradient50-start: rgba(67, 116, 237, 0.50);
--brand-gradient50-end: rgba(187, 55, 189, 0.50);
--brand-gradient25-start: rgba(67, 116, 237, 0.25);
--brand-gradient25-end: rgba(187, 55, 189, 0.25);
--brand-gradient16-start: rgba(67, 116, 237, 0.16);
--brand-gradient16-end: rgba(187, 55, 189, 0.16);
--gradient-shades-border-start: rgb(107, 223, 166); 
--gradient-shades-border-end: rgb(187, 55, 189); 

--very-dark-black100:rgba(0, 0, 0, 1);  
--dark-black75:rgba(26, 26, 26, 1);
--light-black50:rgba(51, 51, 51, 1);
--very-light-black25:rgba(77, 77, 77, 1);

--very-dark-grey100:rgba(102, 102, 102, 1);
--dark-grey75:rgba(159, 160, 167, 1); /* inactive text */   
--light-grey50:rgba(204, 204, 204, 1); /* inactive icon */
--very-light-grey25:rgba(230, 230, 230, 1);

--green-primary-positive:rgba(62, 140, 97, 1);
--blue-primary-informative:rgba(80, 146, 236, 1);
--orange-primary-notice:rgba(232, 138, 63, 1);
--red-primary-negative:rgba(216, 72, 54, 1);
--green-secondary-positive-tint: rgba(215, 248, 225, 1);
--blue-secondary-informative-tint: rgba(175, 203, 255, 1);
--orange-secondary-notice-tint: rgba(255, 193, 127, 1);
--red-secondary-negative-tint: rgba(255, 183, 170, 1);
/* end of colour pallate */

/* typography variables */

--font-primary: 'roboto', sans-serif;

/* Headings/H1 */
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 42px */

/* Headings/H2 */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */

/* Headings/H3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */

/* Headings/H4 */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */

/* Headings/H5 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */

/* Desktop Body Text */
/* Text/Desktop Light */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 27px */

/* Text/Desktop Reg */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */

/* Text/Mobile Light */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */

/* Text/Mobile Reg */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */

/* Text/Mobile Small Light */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 18px */

/* Text/Mobile Small Regular */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */

/* Text/Mobile Bold */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 18px */

/* Text/Label Normal */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */

/* Text/Label capitalised */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
text-transform: uppercase;

/* end of typography variables */
}





/* Global Box Model Setting */

/*Box Sizing: The box-sizing: border-box; setting makes it easier to design UIs because it ensures that 
padding and borders are included within the element's dimensions. This means when you set a width and 
height in Figma, it translates more directly to CSS.

Container Class: The .container class is akin to setting constraints in Figma. It keeps your content 
centered and ensures it doesn't stretch too far on large screens, just like you might design in Figma.

Media Queries: These are like Figma's breakpoints for different device sizes. They allow you to tailor 
your design to different screen widths, similar to how you would design for different device frames in Figma.

Grid System: The .grid-container uses CSS Grid, a powerful layout system. It's similar to designing with grids 
in Figma, providing a structured way to layout elements in a responsive and flexible manner.*/


/* This ensures that padding and border are included in the total width and height of elements, 
   making layout calculations more straightforward and consistent. */
   *, 
   *::after, 
   *::before {
       box-sizing: border-box;
   }
   
   /* Body Styling */
   /* This resets the margin to 0 (removing browser defaults) and sets a default font stack. 
      'system-ui' leverages the default system font, providing a native look on different platforms. */
      body {  
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   
   
   /* Mobile Specific Styles */
   /* These styles are for a mobile first responsive design */
      .container {
        margin: 0 auto;
        padding: 0px; /* Padding for mobile */
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columns for mobile */
        grid-gap: 16px;
    }
    
    /* Tablet Specific Styles */
    @media (min-width: 768px) {
        .container {
            padding: 0px; /* Padding for tablet */
        }
        .grid-container {
            grid-template-columns: repeat(8, 1fr); /* 8 columns for tablet */
        }
    }
    
/* Desktop Specific Styles */
@media (min-width: 1025px) {
    .container {
        padding: 0 80px; /* Padding for desktop */
        max-width: 1320px; /* Max width for the container */
        margin: 0 auto; /* Centering the container */
    }

    nav {
        width: 100%; /* Full width of its container */
        max-width: 1320px; /* Max width for the navigation bar */
        margin: 88px auto; /* Top/Bottom margin for desktop and auto margins for horizontal centering */
        padding: 0; /* Resetting padding */
    }
}


/* STRUCTURAL CSS YEWWWW */
/* Mobile First Navigation bar */

/* Responsive Navigation Styles */
/* Mobile and Tablet (default navigation styles) */
.logo,
.icon {
    display: block; /* Show logo and icon */
}
.nav-item {
    display: none; /* Hide text links by default */
}

/* Mobile First Navigation bar */
nav {
    display: flex;
    width: calc(100% - 32px); /* Subtracting left and right margins from total width */
    height: 88px;
    justify-content: space-between;
    align-items: center;
    margin: 56px 16px; /* 16px margin on top/bottom and left/right */
    flex-shrink: 0;
    /* Additional mobile-specific nav styles if necessary */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

nav ul li a {
    display: block;
    /* Additional anchor styles if necessary */
}


/* Tablet Adjustments for Navigation Bar */
@media (min-width: 768px) {
    nav {
        width: calc(100% - 96px); /* Subtracting left and right margins from total width */
        margin: 88px 48px; /* 48px margin on left and right */
        padding: 0; /* Reset padding if necessary */
        /* Additional tablet-specific nav styles if necessary */
    }
}

/* Desktop Adjustments for Navigation Bar */
@media (min-width: 1025px) {
    /* Adjustments for desktop */
    nav {
        width: calc(100% - 160px); /* Adjusting width to account for padding */
        margin: 80px; /* Uniform margin of 80px for desktop */
    }

    /* Show text links on desktop */
    .nav-item {
        display: block;
    }
    /* Additional desktop-specific nav styles if necessary */
}



/* DECORATIVE CSS YEWWWW */
/* HEADER BG NAV States */
/*  1. .default State - White BG w black text/icon w no bottom 
    2. .current - White BG w Bottom Border w gradient text/icon 
    3.  Hovered - gradient text
    4. Active - gradient text and background w bottom border */

/*  1. .default State - non-interactive state */
.nav-items li a {
    display: flex; /* Arranges children (e.g., text, icon) inline and centered */
    height: 88px; /* Sets the height of each navigation item */
    padding: 24px; /* Adds padding inside each navigation item */
    justify-content: center; /* Centers children horizontally in the flex container */
    align-items: center; /* Centers children vertically in the flex container */
    gap: 24px; /* Space between each child element inside the navigation item */
    text-decoration: none; /* Removes underline from links */
    background-color: var(--white-background); /* Sets background color to white */
    color: var(--black-background); /* Sets text/icon color to black */
    border: none; /* No border by default */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for color and background changes */
    position: relative; /* Positioning context for pseudo-elements or child elements */
}

/*  2. .current State - current page selected */
.nav-items li a.current {
    display: flex; /* Arranges children (e.g., text, icon) inline and centered */
    height: 88px; /* Sets the height of each navigation item */
    padding: 24px; /* Adds padding inside each navigation item */
    justify-content: center; /* Centers children horizontally in the flex container */
    align-items: center; /* Centers children vertically in the flex container */
    gap: 24px; /* Space between each child element inside the navigation item */
    text-decoration: none; /* Removes underline from links */
    background-color: var(--white-background); /* Keeps background color white */
    color: transparent; /* Sets text color to transparent */
    -webkit-background-clip: text; /* Applies background (gradient) only to text */
    background-clip: text; /* Applies background (gradient) only to text */
    background-image: linear-gradient(to right, var(--brand-gradient100-start), var(--brand-gradient100-end)); /* Gradient for text */
    border-bottom: 4px solid transparent; /* Adds a transparent bottom border */
    border-image: linear-gradient(to right, var(--brand-gradient100-start), var(--brand-gradient100-end)) 1; /* Gradient for bottom border */
    transition: background-color 0.3s, border-bottom-color 0.3s; /* Smooth transition for background and border changes */
    position: relative; /* Positioning context for pseudo-elements or child elements */
}



 /*  3. .hovered State - when a user hovers on an item */       


 /*  4. .active State - when the item is being clicked or in focus */





